.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-content-last {
  margin: 0px auto;
  padding: 50px 0px;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 40px 30px;
  background: #3c9933;
  color: floralwhite;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}
.navbar-inverse {
  background: #256020;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #113f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #113f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #113f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #113f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #113f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #113f0d;
  color: #ffffff;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-size: 18px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #3c9933;
  color: #ffffff;
}