<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/joinme-logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateis('app')}">
                    <a ui-sref="app"> Home</a>
                </li>
                <li ng-class="{active: stateis('app.aboutus')}">
                    <a ui-sref="app.aboutus"> About</a>
                </li>
                <li ng-class="{active: stateis('app.menu') || stateis('app.dishdetails')}">
                    <a ui-sref="app.menu"> Menu</a>
                </li>
                <li ng-class="{active: stateis('app.favorites')}">
                    <a ui-sref="app.favorites"> Favorites</a>
                </li>
                <li ng-class="{active: stateis('app.newevent')}">
                    <a ui-sref="app.newevent"> New Event</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!loggedIn">
                    <a ng-click="openLogin()"> Login</a>
                </li>
                <li ng-if="loggedIn">
                    <a>{{username}}</a>
                </li>
                <li ng-if="loggedIn">
                    <a ng-click="logOut()"> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>         
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12">
                <h1>Join Me</h1>
                <p style="padding:10px;"></p>
            </div>
        </div>
    </div>
</header>
