<div class="container">
    <div class="row row-content-last">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Search" ng-model="searchText">
                    </div>
                </form>
            </div>
        </nav>

        <div class="col-xs-12 col-sm-12">
            <ul class="list-inline">
                <li ng-repeat="event in events | filter:searchText"
                     >
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#/event/{{event._id}}">
                                <img class="media-object img-thumbnail"
                                     ng-src={{event.image}} alt="imageEvent">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{event.title}}</h2>
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <span class="label label-danger">{{event.place}}</span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{event.dateAndTime}}
                            <br>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{event.participants}}
                            <br>
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{event.cost}}
                            <br>
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                             <span  ng-repeat="tag in event.tags">
                                 <span class="label label-primary">{{tag}}</span>
                             </span>


                            <p>{{ellipsify(event.description)}}</p>
                            <a  href="#/event/{{event._id}}"><button type="button" class="btn btn-success md pull-right">More...</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
