<div class="container">
    <div class="row row-content-last">
        <div class="col-xs-12">
            <h3>Create a new event</h3>
            <div class="col-xs-12">
                <p style="padding:20px;"></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" role="form" name="newEventForm" ng-submit="createNewEvent()" novalidate>

                <div class="form-group"
                     ng-class="{ 'has-error' : newEventForm.title.$error.required && !newEventForm.title.$pristine }">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" ng-model="newEvent.title"
                               required>
                        <span ng-show="newEventForm.title.$error.required && !newEventForm.title.$pristine"
                              class="help-block">The title is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" name="description" rows="3"
                                  ng-model="newEvent.description"></textarea>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : newEventForm.place.$error.required && !newEventForm.place.$pristine }">
                    <label for="place" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="place" name="place" ng-model="newEvent.place"
                               required>
                        <span ng-show="newEventForm.place.$error.required && !newEventForm.place.$pristine"
                              class="help-block">The location is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dateAndTime" class="col-sm-2 control-label">Date<br/>and Time</label>
                    <div class='col-sm-5'>
                        <input type="text" class="form-control" id="dateAndTime" name="dateAndTime"
                               ng-model="newEvent.dateAndTime" required>
                        <span ng-show="newEventForm.dateAndTime.$error.required && !newEventForm.dateAndTime.$pristine"
                              class="help-block">The date and time is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="participants" class="col-sm-2 control-label">Number of participants</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="radio">
                                <label><input type="radio" name="participants" checked>Open to everybody</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="participants">At least n participants</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="participants">At most n participants</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="participants">Exactly n participants</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="text" class="form-control" type="number" min="0" max="100"
                                       id="nbParticipants" ng-model="newEvent.nbParticipants">
                            </div>
                            <label for="nbParticipants" class="col-sm-2">participants</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <label for="cost" class="col-sm-2 control-label">Cost</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="radio">
                                <label><input type="radio" name="cost" checked>Free</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="cost">Per person</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="cost">To divide among participants</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="text" class="form-control" type="number" min="0" max="100"
                                       id="costAmount" ng-model="event.costAmount">
                            </div>
                            <label for="nbParticipants" class="col-sm-2">$</label>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="tags" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tags" name="tags" ng-model="newEvent.tags" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="newEventForm.$invalid">Create Event
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
