<div class="container">
    <div class="row row-content-last">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Search" ng-model="searchText">
                    </div>
                </form>
            </div>
        </nav>

        <div class="col-xs-12 col-sm-12">
            <ul class="list-inline">
                <li ng-repeat="eevent in events | filter:searchText"
                     >
                    <div class="media">
                        <div class="media-left media-top">
                            <a>
                                <img class="media-object img-thumbnail"
                                     ng-src={{eevent.image}} alt="imageEvent">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{eevent.title}}</h2>
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <span class="label label-danger">{{eevent.place}}</span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{eevent.dateAndTime}}
                            <br>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{eevent.participants}}
                            <br>
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{eevent.cost}}
                            <br>
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{eevent.tags}}
                            <p>{{ellipsify(eevent.description)}}</p>
                            <a ui-sref="app.eventdetail({id: eevent._id})">
                                <button type="button" class="btn btn-success md pull-right" ng-if="loggedIn">More...</button>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
